body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: beige;
}

.barra-buscador {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: black;
  color: white;

  padding: 10px 20px;
}

.titulo-buscador {
  font-size: 20px;
  font-weight: bold;
}

.titulo-buscador:hover{
  cursor: pointer;
  text-decoration: underline;
}

.boton-buscador:hover{
  border-radius: 10px black;
  cursor: pointer;
}

.buscador {
  width: 60%;
  padding: 8px;
}

#encabezado {
  background: orange;
  text-align: center;
  margin: 15px;
}

.contenedor-talleres {
  display: flex;
  padding-left: 20px;
  align-items: flex-start; 
  gap: 45px;
}

.contenedor-talleres section {
  width: 60%;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contenedor-mapa {
  width: 35%;
  position: sticky;
  top: 60px; 
}


.taller-card {
  background: white;
  border-radius: 10px;
  padding: 15px;
  width: 100%; 
  box-shadow: 0 2px 6px grey;
}

.taller-card img {
  width: 800px;
  height: 600px;
  border-radius: 8px;
}

.taller-card h3 {
  margin: 10px 0;
}

.taller-card p {
  margin: 5px 0;
  font-size: 14px;
  color: #555;
}

#map {
  height: 400px;
  border-radius: 10px;
}
 form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 800px;
  margin: 20px;
  padding: 30px;
}

input, button {
  padding: 8px;
}

.formulario h1{
  margin: 15px;
  text-decoration: underline;
}

.formulario p{
  margin: 5px;
  font-size: 13px;
  color: #555;
}

.formulario {
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  height: 100vh; 
  text-align: center; 
}

#preview-container {
  width: 100%;
  max-width: 800px; /* mismo ancho que tus cards */
  margin: 0 auto 20px auto;
}

.oculto {
  display: none;
}

#btn-home{
  margin-bottom: 20px;
}

#btn-home:hover{
  cursor: pointer;
}